.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #9a616d;
    padding-top: 60px;
    width: 100vw;
}
.text-container {
    width: 65%;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 10px rgb(180, 183, 184);
    padding: 30px;
    
}
img{
    width: 100%;
    height: fit-content;
}